<h1 class="animated fadeIn fast">Prueba Kushki</h1>
<hr>
<p class="animated fadeIn">
    Esta página simula una tienda online de cursos para probar la funcionalidades Request a card token y make a charge tal como indica el instructivo de la prueba de Kushky.
</p>
<p class="animated fadeIn">
    Para este proyecto se usó el framework angular en su versión 12.1.2 en el backend se utilizó node con su versión 6.14.8 y para levantar el servidor el framework express en su version 4.17.1
</p>
<p class="animated fadeIn">
    Pare el diseño web se uso boostrap en su versión 4, además se manejó angular material para desarrollar el formulario para la pasarela de pagos.
</p>
<p class="animated fadeIn">
    La página web se encuentra alojada en firebase hosting y el backend se desplegado en heroku.
</p>
<p>Enlaces a GitHub:</p>

<ul>
    <li><a href="https://github.com/JonathanJMaiza/pruebakushki.git">Frontend</a></li>
    <li><a href="https://github.com/JonathanJMaiza/backendkushki.git">Backend</a></li>

</ul>
<div class="pago">
    <div class="carta">
        <img src="assets/img/kushki.png" class="img-fluid" style="height: 150px;text-align: center;" alt="">
        <img src="assets/img/angular.png" class="img-fluid" style="height: 150px;text-align: center;" alt="">
        <img src="assets/img/node.png" class="img-fluid" style="height: 150px;text-align: center;" alt="">
        <img src="assets/img/Bootstrap.png" class="img-fluid" style="height: 150px;text-align: center;" alt="">

    </div>
    <div class="carta">
        <img src="assets/img/firebase.png" class="img-fluid" style="height: 150px;text-align: center;" alt="">
        <img src="assets/img/heroku.png" class="img-fluid" style="height: 150px;text-align: center;" alt="">
    </div>
</div>